.main-wrap {
  // background-color: tomato;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: image-url('BG_Space01_1024x768.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
